.sommar {
  text-align: center;
  font-size: 10vw;
  font-style: italic;
  color: limegreen;
  margin-top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-shadow: 3px 2px white;
}
.sommarBakgrund {
  background-image: url('sommar.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 620px) {
   .sommar {
      text-shadow: 2px 1px white;
   }
}